In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Read in CSVs
crimes_data = pd.read_csv("clean_crimedata.csv")
weather_data = pd.read_csv("all_weather.csv")

In [3]:
crimes_data.head()

,id,primary_type,date,description,location_description,arrest,domestic,community_area,year,lat,lng,location
0,11864018,DECEPTIVE PRACTICE,2019-09-24,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,33.0,2019,41.852248,-87.623786,"(41.852248185, -87.623786256)"
1,11859805,THEFT,2019-10-13,RETAIL THEFT,GROCERY FOOD STORE,False,False,24.0,2019,41.895732,-87.687784,"(41.895732399, -87.687784384)"
2,11863808,THEFT,2019-10-05,OVER $500,RESIDENCE,False,False,28.0,2019,41.882002,-87.662287,"(41.88200224, -87.662286977)"
3,11859727,CRIMINAL DAMAGE,2019-10-13,TO VEHICLE,STREET,False,False,6.0,2019,41.946987,-87.669164,"(41.946987144, -87.669163602)"
4,11859656,ASSAULT,2019-10-13,SIMPLE,GAS STATION,False,False,3.0,2019,41.975838,-87.659854,"(41.975837637, -87.659853835)"

In [4]:
weather_data.head()

,Name,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Conditions
0,"Chicago, IL, United States",1/1/2019,35.5,26.7,30.2,20.0,NaN,0.29,0.0,0.0,13.6,281.33,19.7,8.0,92.6,85.70,"Rain, Overcast"
1,"Chicago, IL, United States",1/2/2019,31.1,27.5,29.3,17.1,NaN,0.00,0.0,0.0,16.2,215.50,25.3,7.5,88.0,82.67,Overcast
2,"Chicago, IL, United States",1/3/2019,39.6,25.0,31.9,14.7,NaN,0.00,0.0,0.0,14.6,220.88,26.4,9.7,14.9,75.29,Clear
3,"Chicago, IL, United States",1/4/2019,49.5,31.9,38.4,23.7,NaN,0.00,0.0,0.0,11.3,247.21,19.7,9.9,13.4,68.89,Clear
4,"Chicago, IL, United States",1/5/2019,53.1,31.6,40.8,25.5,NaN,0.00,0.0,0.0,14.2,261.75,22.2,9.9,27.3,75.09,Partially cloudy

In [5]:
weather_data['date']= pd.to_datetime(weather_data["Date time"])
weather_data.head()

,Name,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Conditions,date
0,"Chicago, IL, United States",1/1/2019,35.5,26.7,30.2,20.0,NaN,0.29,0.0,0.0,13.6,281.33,19.7,8.0,92.6,85.70,"Rain, Overcast",2019-01-01
1,"Chicago, IL, United States",1/2/2019,31.1,27.5,29.3,17.1,NaN,0.00,0.0,0.0,16.2,215.50,25.3,7.5,88.0,82.67,Overcast,2019-01-02
2,"Chicago, IL, United States",1/3/2019,39.6,25.0,31.9,14.7,NaN,0.00,0.0,0.0,14.6,220.88,26.4,9.7,14.9,75.29,Clear,2019-01-03
3,"Chicago, IL, United States",1/4/2019,49.5,31.9,38.4,23.7,NaN,0.00,0.0,0.0,11.3,247.21,19.7,9.9,13.4,68.89,Clear,2019-01-04
4,"Chicago, IL, United States",1/5/2019,53.1,31.6,40.8,25.5,NaN,0.00,0.0,0.0,14.2,261.75,22.2,9.9,27.3,75.09,Partially cloudy,2019-01-05

In [6]:
weather_data['date']= weather_data['date'].dt.strftime("%Y-%m-%d")

In [7]:
weather_data_clean = weather_data.drop(["Date time"],axis=1)
weather_data_clean.count()

Name                   827
Maximum Temperature    827
Minimum Temperature    827
Temperature            827
Wind Chill             524
Heat Index             155
Precipitation          827
Snow                   827
Snow Depth             827
Wind Speed             827
Wind Direction         827
Wind Gust              704
Visibility             827
Cloud Cover            827
Relative Humidity      827
Conditions             827
date                   827
dtype: int64

In [8]:
weather_data_final = weather_data_clean.drop(["Wind Chill", "Heat Index", "Wind Gust"], axis=1)
weather_data_final.head()

,Name,Maximum Temperature,Minimum Temperature,Temperature,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Visibility,Cloud Cover,Relative Humidity,Conditions,date
0,"Chicago, IL, United States",35.5,26.7,30.2,0.29,0.0,0.0,13.6,281.33,8.0,92.6,85.70,"Rain, Overcast",2019-01-01
1,"Chicago, IL, United States",31.1,27.5,29.3,0.00,0.0,0.0,16.2,215.50,7.5,88.0,82.67,Overcast,2019-01-02
2,"Chicago, IL, United States",39.6,25.0,31.9,0.00,0.0,0.0,14.6,220.88,9.7,14.9,75.29,Clear,2019-01-03
3,"Chicago, IL, United States",49.5,31.9,38.4,0.00,0.0,0.0,11.3,247.21,9.9,13.4,68.89,Clear,2019-01-04
4,"Chicago, IL, United States",53.1,31.6,40.8,0.00,0.0,0.0,14.2,261.75,9.9,27.3,75.09,Partially cloudy,2019-01-05

In [9]:
crimes_data["date"].max()

'2021-05-14'

In [10]:
weather_data_final["date"].max()

'2021-04-06'

In [11]:
crimes_data_final = crimes_data.loc[crimes_data["date"] < "2021-04-07", :]

In [12]:
crimes_data_final.head()

,id,primary_type,date,description,location_description,arrest,domestic,community_area,year,lat,lng,location
0,11864018,DECEPTIVE PRACTICE,2019-09-24,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,33.0,2019,41.852248,-87.623786,"(41.852248185, -87.623786256)"
1,11859805,THEFT,2019-10-13,RETAIL THEFT,GROCERY FOOD STORE,False,False,24.0,2019,41.895732,-87.687784,"(41.895732399, -87.687784384)"
2,11863808,THEFT,2019-10-05,OVER $500,RESIDENCE,False,False,28.0,2019,41.882002,-87.662287,"(41.88200224, -87.662286977)"
3,11859727,CRIMINAL DAMAGE,2019-10-13,TO VEHICLE,STREET,False,False,6.0,2019,41.946987,-87.669164,"(41.946987144, -87.669163602)"
4,11859656,ASSAULT,2019-10-13,SIMPLE,GAS STATION,False,False,3.0,2019,41.975838,-87.659854,"(41.975837637, -87.659853835)"

In [13]:
crimes_data_final["date"].max()

'2021-04-06'

In [16]:
crimes_data_grouped = crimes_data_final.groupby("date")
crimes_data_grouped.count()

,id,primary_type,description,location_description,arrest,domestic,community_area,year,lat,lng,location
date,,,,,,,,,,,
2019-01-01,1040,1040,1040,1025,1040,1040,1040,1040,1014,1014,1014
2019-01-02,654,654,654,648,654,654,654,654,648,648,648
2019-01-03,752,752,752,749,752,752,752,752,750,750,750
2019-01-04,767,767,767,763,767,767,767,767,763,763,763
2019-01-05,792,792,792,790,792,792,792,792,790,790,790
...,...,...,...,...,...,...,...,...,...,...,...
2021-04-02,492,492,492,492,492,492,492,492,486,486,486
2021-04-03,528,528,528,528,528,528,528,528,526,526,526
2021-04-04,524,524,524,522,524,524,524,524,523,523,523
2021-04-05,507,507,507,506,507,507,507,507,505,505,505
2021-04-06,517,517,517,516,517,517,517,517,512,512,512

In [20]:
full_data = weather_data_final.join(crimes_data_grouped["id"].count(), on="date")
full_data.head()

,Name,Maximum Temperature,Minimum Temperature,Temperature,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Visibility,Cloud Cover,Relative Humidity,Conditions,date,id
0,"Chicago, IL, United States",35.5,26.7,30.2,0.29,0.0,0.0,13.6,281.33,8.0,92.6,85.70,"Rain, Overcast",2019-01-01,1040
1,"Chicago, IL, United States",31.1,27.5,29.3,0.00,0.0,0.0,16.2,215.50,7.5,88.0,82.67,Overcast,2019-01-02,654
2,"Chicago, IL, United States",39.6,25.0,31.9,0.00,0.0,0.0,14.6,220.88,9.7,14.9,75.29,Clear,2019-01-03,752
3,"Chicago, IL, United States",49.5,31.9,38.4,0.00,0.0,0.0,11.3,247.21,9.9,13.4,68.89,Clear,2019-01-04,767
4,"Chicago, IL, United States",53.1,31.6,40.8,0.00,0.0,0.0,14.2,261.75,9.9,27.3,75.09,Partially cloudy,2019-01-05,792

In [22]:
full_data_final = full_data.drop(["Name"],axis=1)

In [23]:
full_data_final.rename(columns={"id": "Number of Crimes"})

,Maximum Temperature,Minimum Temperature,Temperature,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Visibility,Cloud Cover,Relative Humidity,Conditions,date,Number of Crimes
0,35.5,26.7,30.2,0.29,0.0,0.0,13.6,281.33,8.0,92.6,85.70,"Rain, Overcast",2019-01-01,1040
1,31.1,27.5,29.3,0.00,0.0,0.0,16.2,215.50,7.5,88.0,82.67,Overcast,2019-01-02,654
2,39.6,25.0,31.9,0.00,0.0,0.0,14.6,220.88,9.7,14.9,75.29,Clear,2019-01-03,752
3,49.5,31.9,38.4,0.00,0.0,0.0,11.3,247.21,9.9,13.4,68.89,Clear,2019-01-04,767
4,53.1,31.6,40.8,0.00,0.0,0.0,14.2,261.75,9.9,27.3,75.09,Partially cloudy,2019-01-05,792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,50.0,26.6,39.7,0.00,0.0,0.0,14.5,170.63,9.9,13.5,39.20,Clear,2021-04-02,492
823,70.8,40.7,55.1,0.00,0.0,0.0,21.4,232.54,9.9,21.1,35.95,Clear,2021-04-03,528
824,75.2,45.3,61.8,0.00,0.0,0.0,11.9,150.96,9.8,33.4,42.57,Partially cloudy,2021-04-04,524
825,76.5,60.1,67.6,0.00,0.0,0.0,14.6,208.63,9.9,70.6,47.45,Partially cloudy,2021-04-05,507
826,81.3,58.5,70.8,0.00,0.0,0.0,18.1,210.70,9.9,69.8,45.68,Partially cloudy,2021-04-06,517

In [26]:
full_data_final.to_csv("full_data.csv", index=False)